<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!--Spring 目录寻找更改，默认去找WEB-INF下面的applicationContext,改为从classpath去找 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext-*.xml</param-value>
	</context-param>
	<!-- 防止内存泄露，在2014/01/13之前自动发布会导致内存泄漏 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>


	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>sessionFactory</param-value>
		</init-param>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>adminSession</filter-name>
		<filter-class>com.jcwx.game.web.AdminSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminSession</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>pageCache</filter-name>
		<filter-class>com.jcwx.game.web.PageCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>pageCache</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
			<param-name>actionPackages</param-name>
			<param-value>com.jcwx.game.admin</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>struts-default.xml,struts-plugin.xml,struts.xml</param-value>
		</init-param>
	</filter>


	<filter-mapping>
		<filter-name>Encoding</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Encoding</filter-name>
		<url-pattern>/media/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/struts/*</url-pattern>
	</filter-mapping>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.jcwx.game.web.InitSystemListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>imagecode</servlet-name>
		<servlet-class>com.jcwx.game.util.ValidateImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>imagecode</servlet-name>
		<url-pattern>/imgcode</url-pattern>
	</servlet-mapping>



	<!-- 验证码 -->
	<servlet>
		<servlet-name>Kaptcha</servlet-name>
		<servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
		<!-- For a complete list of Init Parameters, please see: http://code.google.com/p/kaptcha/wiki/ConfigParameters -->
		<init-param>
			<param-name>kaptcha.border</param-name>
			<param-value>yes</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.textproducer.font.color</param-name>
			<param-value>black</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.textproducer.char.space</param-name>
			<param-value>5</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.textproducer.char.length</param-name>
			<param-value>2</param-value>
		</init-param>

	</servlet>
	<servlet-mapping>
		<servlet-name>Kaptcha</servlet-name>
		<url-pattern>/Kaptcha.jpgjjl</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>StartServlet</servlet-name>
		<servlet-class>com.jcwx.game.web.StartServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

	<!-- <error-page> <error-code>404</error-code> <location>/admin/errorpage/404.html</location> </error-page> 
		<error-page> <error-code>500</error-code> <location>/admin/errorpage/500.html</location> </error-page> -->
</web-app>
